### One Hot Encoding - Variables With Multi Categories

#### Importing Libearies

In [1]:
import pandas as pd 
import numpy as np

#### Importing the Dataset

In [2]:
data = pd.read_csv('F://Data_Set/mercedesbenz.csv',usecols=['X1','X2','X3','X4','X5','X6'])

In [3]:
data.head()

  X1  X2 X3 X4 X5 X6
0  v  at  a  d  u  j
1  t  av  e  d  y  l
2  w   n  c  d  x  j
3  t   n  f  d  x  l
4  v   n  f  d  h  d

Look how many Unique Categories in Each Column

In [4]:
for col in data.columns:
    print(col,'=',len(data[col].unique()),'labels')

X1 = 27 labels
X2 = 44 labels
X3 = 7 labels
X4 = 4 labels
X5 = 29 labels
X6 = 12 labels

Find Unique Element of X1 Column

In [5]:
data['X1'].unique()

array(['v', 't', 'w', 'b', 'r', 'l', 's', 'aa', 'c', 'a', 'e', 'h', 'z',
       'j', 'o', 'u', 'p', 'n', 'i', 'y', 'd', 'f', 'm', 'k', 'g', 'q',
       'ab'], dtype=object)

Total Count of Unique Elements of X1 Column

In [6]:
len(data['X1'].unique())

27

Lets Examin How Many Columns are Genrated When We Use One Hot Encoding

In [7]:
pd.get_dummies(data,drop_first=True).shape

(4209, 117)

Lets find the top 10 most frequent Categories of Variable X2

In [8]:
data.X2.value_counts()

as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
aq      63
ay      54
a       47
t       29
k       25
i       25
b       21
ao      20
ag      19
z       19
d       18
ac      13
g       12
ap      11
y       11
x       10
aw       8
at       6
h        6
q        5
an       5
al       5
p        4
av       4
ah       4
au       3
af       1
c        1
ar       1
o        1
am       1
l        1
aa       1
j        1
Name: X2, dtype: int64

In [9]:
data.X2.value_counts().head(20)

as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
aq      63
ay      54
a       47
t       29
k       25
i       25
b       21
ao      20
ag      19
z       19
Name: X2, dtype: int64

Lets Make a List with the Most frequent categories of Variable

In [10]:
top_10 = [x for x in data.X2.value_counts().sort_values(ascending = False).head(10).index]

In [11]:
top_10

['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']

Now we make 10 binary variables

In [12]:
for label in top_10:
    data[label] = np.where(data['X2']==label,1,0)

In [14]:
data[['X2']+top_10].head(40)

    X2  as  ae  ai  m  ak  r  n  s  f  e
0   at   0   0   0  0   0  0  0  0  0  0
1   av   0   0   0  0   0  0  0  0  0  0
2    n   0   0   0  0   0  0  1  0  0  0
3    n   0   0   0  0   0  0  1  0  0  0
4    n   0   0   0  0   0  0  1  0  0  0
5    e   0   0   0  0   0  0  0  0  0  1
6    e   0   0   0  0   0  0  0  0  0  1
7   as   1   0   0  0   0  0  0  0  0  0
8   as   1   0   0  0   0  0  0  0  0  0
9   aq   0   0   0  0   0  0  0  0  0  0
10   r   0   0   0  0   0  1  0  0  0  0
11   e   0   0   0  0   0  0  0  0  0  1
12  ai   0   0   1  0   0  0  0  0  0  0
13   e   0   0   0  0   0  0  0  0  0  1
14  as   1   0   0  0   0  0  0  0  0  0
15  ak   0   0   0  0   1  0  0  0  0  0
16   e   0   0   0  0   0  0  0  0  0  1
17  as   1   0   0  0   0  0  0  0  0  0
18   m   0   0   0  1   0  0  0  0  0  0
19  ak   0   0   0  0   1  0  0  0  0  0
20   m   0   0   0  1   0  0  0  0  0  0
21  as   1   0   0  0   0  0  0  0  0  0
22   a   0   0   0  0   0  0  0  0  0  0
23   m   0   0   0  1   0  0  0  0  0  0
24  ak   0   0   0  0   1  0  0  0  0  0
25   m   0   0   0  1   0  0  0  0  0  0
26  as   1   0   0  0   0  0  0  0  0  0
27  as   1   0   0  0   0  0  0  0  0  0
28  as   1   0   0  0   0  0  0  0  0  0
29   m   0   0   0  1   0  0  0  0  0  0
30  as   1   0   0  0   0  0  0  0  0  0
31  as   1   0   0  0   0  0  0  0  0  0
32   m   0   0   0  1   0  0  0  0  0  0
33  as   1   0   0  0   0  0  0  0  0  0
34  as   1   0   0  0   0  0  0  0  0  0
35  ai   0   0   1  0   0  0  0  0  0  0
36  as   1   0   0  0   0  0  0  0  0  0
37   k   0   0   0  0   0  0  0  0  0  0
38  as   1   0   0  0   0  0  0  0  0  0
39  as   1   0   0  0   0  0  0  0  0  0

Get Whole Set of Dummy Variables, for all the Categorical Variables

In [15]:
def one_hot_top_x(df, variable, top_x_labels):
    # function to create the Dummy variable for the most frequent labels
    # We Can Vary the Number of most frequent labels that we encode
    for label in top_x_labels:
        df[variable+'='+label] = np.where(data[variable]==label,1,0)
        
#Read the Data again 
data = pd.read_csv('F://Data_Set/mercedesbenz.csv',usecols=['X1','X2','X3','X4','X5','X6']) 

# encode X2 in 10 most frequent categories
one_hot_top_x(data,'X2',top_10)
data.head(10)

,X1,X2,X3,X4,X5,X6,X2=as,X2=ae,X2=ai,X2=m,X2=ak,X2=r,X2=n,X2=s,X2=f,X2=e
0,v,at,a,d,u,j,0,0,0,0,0,0,0,0,0,0
1,t,av,e,d,y,l,0,0,0,0,0,0,0,0,0,0
2,w,n,c,d,x,j,0,0,0,0,0,0,1,0,0,0
3,t,n,f,d,x,l,0,0,0,0,0,0,1,0,0,0
4,v,n,f,d,h,d,0,0,0,0,0,0,1,0,0,0
5,b,e,c,d,g,h,0,0,0,0,0,0,0,0,0,1
6,r,e,f,d,f,h,0,0,0,0,0,0,0,0,0,1
7,l,as,f,d,f,j,1,0,0,0,0,0,0,0,0,0
8,s,as,e,d,f,i,1,0,0,0,0,0,0,0,0,0
9,b,aq,c,d,f,a,0,0,0,0,0,0,0,0,0,0

Find the Most 10 Frequent Categories of 'X1'

In [18]:
top_10 = [x for x in data.X1.value_counts().sort_values(ascending = False).head(10).index]

In [19]:
top_10

['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o']

Now we make 10 binary variables of X1

In [20]:
for label in top_10:
    data[label] = np.where(data['X1']==label,1,0)

In [21]:
data[['X1']+top_10].head(20)

    X1  aa  s  b  l  v  r  i  a  c  o
0    v   0  0  0  0  1  0  0  0  0  0
1    t   0  0  0  0  0  0  0  0  0  0
2    w   0  0  0  0  0  0  0  0  0  0
3    t   0  0  0  0  0  0  0  0  0  0
4    v   0  0  0  0  1  0  0  0  0  0
5    b   0  0  1  0  0  0  0  0  0  0
6    r   0  0  0  0  0  1  0  0  0  0
7    l   0  0  0  1  0  0  0  0  0  0
8    s   0  1  0  0  0  0  0  0  0  0
9    b   0  0  1  0  0  0  0  0  0  0
10   r   0  0  0  0  0  1  0  0  0  0
11   r   0  0  0  0  0  1  0  0  0  0
12   b   0  0  1  0  0  0  0  0  0  0
13   r   0  0  0  0  0  1  0  0  0  0
14   s   0  1  0  0  0  0  0  0  0  0
15   l   0  0  0  1  0  0  0  0  0  0
16   r   0  0  0  0  0  1  0  0  0  0
17  aa   1  0  0  0  0  0  0  0  0  0
18   c   0  0  0  0  0  0  0  0  1  0
19   a   0  0  0  0  0  0  0  1  0  0

Now Create the 10 most frequent dummy Variables for X1

In [22]:
one_hot_top_x(data,'X1',top_10)

data.head()

,X1,X2,X3,X4,X5,X6,X2=as,X2=ae,X2=ai,X2=m,...,X1=aa,X1=s,X1=b,X1=l,X1=v,X1=r,X1=i,X1=a,X1=c,X1=o
0,v,at,a,d,u,j,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,t,av,e,d,y,l,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,w,n,c,d,x,j,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,t,n,f,d,x,l,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,v,n,f,d,h,d,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

Find the Most 10 Frequent Categories of 'X5'

In [23]:
top_10 = [x for x in data.X5.value_counts().sort_values(ascending= False).head(10).index]

Now Create the 10 most frequent dummy Variables for X5

In [24]:
one_hot_top_x(data,'X5',top_10)

In [25]:
data.head()

,X1,X2,X3,X4,X5,X6,X2=as,X2=ae,X2=ai,X2=m,...,X5=v,X5=w,X5=q,X5=r,X5=s,X5=d,X5=n,X5=m,X5=p,X5=i
0,v,at,a,d,u,j,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,t,av,e,d,y,l,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,w,n,c,d,x,j,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,t,n,f,d,x,l,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,v,n,f,d,h,d,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Find the Most 10 Frequent Categories of 'X6'

In [26]:
top_10 = [x for x in data.X6.value_counts().sort_values(ascending= False).head(10).index]

Now Create the 10 most frequent dummy Variables for X6

In [27]:
one_hot_top_x(data,'X6',top_10)

In [28]:
data.head()

,X1,X2,X3,X4,X5,X6,X2=as,X2=ae,X2=ai,X2=m,...,X6=g,X6=j,X6=d,X6=i,X6=l,X6=a,X6=h,X6=k,X6=c,X6=b
0,v,at,a,d,u,j,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,t,av,e,d,y,l,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,w,n,c,d,x,j,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,t,n,f,d,x,l,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,v,n,f,d,h,d,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

Find the Most 10 Frequent Categories of 'X3'

In [29]:
top_10 = [x for x in data.X3.value_counts().sort_values(ascending= False).head(10).index]

Now Create the 10 most frequent dummy Variables for X3

In [30]:
one_hot_top_x(data,'X3',top_10)

In [31]:
data.head()

,X1,X2,X3,X4,X5,X6,X2=as,X2=ae,X2=ai,X2=m,...,X6=k,X6=c,X6=b,X3=c,X3=f,X3=a,X3=d,X3=g,X3=e,X3=b
0,v,at,a,d,u,j,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,t,av,e,d,y,l,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,w,n,c,d,x,j,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,t,n,f,d,x,l,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,v,n,f,d,h,d,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

Find the Most 10 Frequent Categories of 'X4'

In [32]:
top_10 = [x for x in data.X4.value_counts().sort_values(ascending= False).head(10).index]

Now Create the 10 most frequent dummy Variables for X4

In [33]:
one_hot_top_x(data,'X4',top_10)

In [34]:
data.head()

,X1,X2,X3,X4,X5,X6,X2=as,X2=ae,X2=ai,X2=m,...,X3=f,X3=a,X3=d,X3=g,X3=e,X3=b,X4=d,X4=a,X4=c,X4=b
0,v,at,a,d,u,j,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
1,t,av,e,d,y,l,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
2,w,n,c,d,x,j,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,t,n,f,d,x,l,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
4,v,n,f,d,h,d,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0

In [35]:
data[data]

TypeError: 'method' object is not subscriptable

In [6]:
for col1 in data.columns:
    print(col1)

X1
X2
X3
X4
X5
X6

In [8]:
data['X1'].unique()

array(['v', 't', 'w', 'b', 'r', 'l', 's', 'aa', 'c', 'a', 'e', 'h', 'z',
       'j', 'o', 'u', 'p', 'n', 'i', 'y', 'd', 'f', 'm', 'k', 'g', 'q',
       'ab'], dtype=object)

In [15]:
len(data['X1'].unique())

27

In [14]:
for col2 in data.columns:
    print(col2,'=',len(data[col2].unique()))

X1 = 27
X2 = 44
X3 = 7
X4 = 4
X5 = 29
X6 = 12

In [23]:
pd.get_dummies(data,).shape

(4209, 123)